@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Advanced databases</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Second exercise</h2>
        <p>
         
        </p>
        <p><a class="btn btn-default" href="https://www.fer.unizg.hr/_download/repository/Upute_za_NoSQL_projekt_iz_predmeta_Napredni_modeli_i_baze_podataka%5B1%5D.pdf">Task &raquo;</a></p>
    </div>
   
</div>